header {
	background: #1d8cbe;
	height: 50px;
	padding-top: 10px;
}

.head1 {
	background: white;
	width: 35px;
	height: 35px;
	margin-left: 15px;
	float: left;
}

.head2 {
	color: white;
	width: 135px;
	height: 35px;
	margin-left: 15px;
	margin-top: 7px;
	float: left;
}

.com {
	color: #87cee8;
}

.head3 {
	background: #0070a4;
	width: 75px;
	height: 60px;
	margin-top: -10px;
	float: right;
}

.login {
	color: white;
	font-size: 12px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

.top {
	color: white;
	text-align: center;
	background: #344050;
	height: 1110px;
	padding-top: 250px;
}

.new {
	color: white;
	text-align: center;
	font-size: 40px;
}

.wordp {
	color: white;
	text-align: center;
	font-size: 18px;
	padding-top: 40px;
	padding-bottom: 40px;
}

.inner{
	background: #268dbc;
	width: 210px;
	height: 50px;
	position: relative;
	top: 5px;
	margin-left: auto;
	margin-right: auto;
}

.border {
	background: #212934;
	width: 220px;
	height: 60px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 210px;
}

.create {
	color: white;
	font-size: 24px;
	text-align: center;
	padding-top: 10px;
}

.small {
	background: white;
	width: 50px;
	height: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 135px;
}

.three {
	width: 300px;
	height: 70px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
}

.icon {
	background: white;
	width: 50px;
	height: 60px;
	margin-top: 10px;
	float: left;
}

.whys {
	width: 240px;
	height: 55px;
	margin-right: 5px;
	float: right;

}

.line1 {
	color: white;
	font-size: 18px;
	text-align: left;
	display: block;
	margin-top: 10px;
	margin-bottom: 5px;
}

.line2 {
	color: white;
	font-size: 12px;
	text-align: left;
	display: block;
}

.second {
	background: #e2edf3;
	height: 190px;
	text-align: center;
	font-size: 28px;
	word-spacing: 2px;
	line-height: 200%;
}

.bottom {
	background: #d1d3d7;
	height: 1575px;
	padding-top: 5px;
}

.six {
	background: white;
	height: 195px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 30px;
	padding-top: 20px;
}

.square {
	background: #c7d2d8;
	width: 65px;
	height: 65px;
	margin-left: auto;
	margin-right: auto;
}

.thin {
	color: #38566c;
	font-size: 20px;
	width: 410px;
	height: 20px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.block {
	color: #38566c;
	font-size: 14px;
	width: 410px;
	height: 50px;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	line-height: 150%;
}

.test {
	background: #e2edf3;
	color: black;
	font-size: 30px;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 20px;

}

.createsite {
	background: #1e8cbe;
	width: 210px;
	padding: 15px;
	margin: 40px;
	margin-left: auto;
	margin-right: auto;
	color: white;
	text-align: center;
	font-size: 25px;
}

.black{
	background: black;
	height: 130px;
	padding-top: 25px;
}

.menu {
	color: white;
	font-size: 12px;
	text-align: center;
	margin-bottom: 50px;
	word-spacing: 20px;
}

.space
	{
		word-spacing: 0px;
	}

.white{
	background: white;
	width: 135px;
	height: 20px;
	margin-left: auto;
	margin-right: auto;
}